<h1>Budget For Life</h1>
<h3>Save like a nerd</h3>
<%= button_to "View All Savings Goals", savings_goals_path, { method: "get" } %>
<%= button_to "Create Savings Goal", new_savings_goal_path, { method: "get" } %>
